body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

/* conteiner */
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    padding: 16px 0;
}

.header .container {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}

.menu {
    display: none;

}

.menu .current {
    position: relative;
    color: #404bbf;
}

.menu .current::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo>.logo-first {
    color: var(--NAVY-BLUE, #2E2F42);

}

/* .menu-item {
    padding: 24px 0;
} */

/* menu */
.menu-item-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-list-item:first-child {

    margin-right: 40px;
}

.addres-list-item-data {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.addres-list-item-data:hover,
.addres-list-item-data:focus {
    color: var(--OCEAN, #404BBF);
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: var(--OCEAN, #404BBF);

}

.addres {
    font-style: normal;
}

.addres-list {
    display: none;


}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 16px;
        min-width: 768px;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 0;
    }
}



@media (min-width: 768px) {
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .logo {
        margin-right: 76px;
    }
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        gap: 40px;
    }

    .menu-item-link {
        color: #2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
        position: relative;
        color: #404BBF;
    }

    .menu .current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }
}

@media (min-width: 768px) {
    .addres {
        display: block;

    }
}

@media (min-width: 768px) {
    .header-list {
        display: flex;
    }
}

.addres {
    font-style: normal;
}

@media (min-width: 768px) {
    .addres-list {
        flex-direction: column;
        gap: 12px
    }
}

@media (min-width: 768px) {
    .addres-list-item-data {
        padding: 0;
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


@media (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding: 0 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .logo {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .addres-list {
        flex-direction: row;
        gap: 40px;
    }

    .addres-list-item-data {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}









/* main */


.intro {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/intro/Dark-bgmob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-device-pixel-ratio: 2) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/intro/Dark-bgmob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/intro/Dark-bgtablet.jpg);
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .intro {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/intro/Dark-bgtablet@2x.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .intro {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/intro/people-office1.jpg);
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .intro {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/intro/people-office1intro@2x.jpg);
        }
    }
}

.intro-heading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.first-section {
    padding: 72px 0;
    background-color: #2E2F42;
}

.button-order {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .first-section {
        padding: 112px 0;
    }

    .intro-heading {
        font-size: 56px;

        line-height: 1.071;

        width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0;
    }

    .intro-heading {
        margin-bottom: 48px;
    }

    .button-order:hover,
    .button-order:focus {
        background-color: #404BBF;
    }

}




.futures {
    padding: 96px 0;
}

.futures-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.futures-list-item {
    width: calc((100%-72px)/4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.svg-futures {
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    justify-content: center;
    align-items: center;
    display: none;
    width: 264px;
}

.futures-list-item-heading {
    font-weight: 700px;
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
}

.futures-list-item-text {
    color: #434455;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    .futures {
        padding: 96px 0;
    }

    .futures-list {

        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .futures-list-item {
        width: calc((100% - 24px) / 2);
    }

    .futures-list-item-heading {
        text-align: start;
    }
}

@media (min-width: 1158px) {
    .futures .container {
        min-width: 1158px;
    }

    .futures {
        padding: 120px 0;
    }

    .futures-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .futures-list-item {
        width: calc((100% - 72px) / 4);
    }

    .svg-futures {
        display: flex;
    }

    .futures-list-item-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .futures-list-item-text {
        font-weight: 400;
    }
}

/* team */
.team {
    padding: 96px 0;
    background-color: #F4F4FD;
}

.team-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
}


.team-list-conteiner {
    padding: 32px 0;

}

.team-list-contacts {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-contacts-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-contacts-link:hover,
.team-list-contacts-link:focus {
    background-color: #404BBF;
}

.team-list-contacts-item {
    width: 40px;
    height: 40px;
}

.svg-team-list-links {
    fill: #F4F4FD;
}

.team-list-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.team-list-item-bio {
    color: #434455;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;

}

@media (min-width: 768px) {
    .container {
        width: 584px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        width: 100%;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1158px) {
    .team .container {
        min-width: 1158px;
        padding: 0 15px;
    }

    .team {
        padding: 120px 0;
    }

    .team-heading {
        text-align: center;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
        width: 100%;
    }

    .team-list-item {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .team-list-conteiner {
        padding: 32px 16px;
    }

    .team-list-contacts-link:hover,
    .team-list-contacts-link:focus {
        background-color: #404BBF;
    }
}

/* portfolio */

.portfolio {
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: column;

}

.portfolio-list-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-wrapper {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    margin-top: 0px;
    padding: 32px 16px;
}

.portfolio-list-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-item-info {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;

}

.portfolio-list-overlay {
    position: relative;
    overflow: hidden;
}

.paragraph-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .paragraph-text {
    transform: translateY(0%);
}

@media (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
    }
}



@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-heading {
        text-align: center;
    }

    .portfolio-list {
        flex-direction: row;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-list-item:hover .overlay-space {
        transform: translateY(0%);
    }

    .portfolio-list-item:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}

.logo-futer {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--IRIS,
            #4D5AE5);
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-container {
    display: flex;
    gap: 72px;
    align-items: center;
    flex-direction: column
}

.social-media {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.social-media-list {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-footer-network {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-network:hover,
.social-footer-network:focus {
    background-color: #31D0AA;
}

.icon-footer-link {
    fill: #f4f4fd;
}

.footer {

    background-color: #2E2F42;
    padding: 100px 0;

}

.conteiner-footer-text {
    text-align: center;
    margin-right: 0;
}

.footer-text {
    color: #F4F4FD;
    text-align: start;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;

}

.social-media-container {
    margin-right: 0;
}

.logo-second {
    color: var(--CLOUD, #F4F4FD);
}

.footer-input {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
}

.subscribe-footer>label {
    display: flex;
    justify-content: center;
}

.footer-paragraf-subscribe {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form-subscribe {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.footer-input::placeholder {

    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-btn-subcsribe {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: flex;
    background: #4D5AE5;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    font-family: inherit;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-frame {
    margin-left: 16px;
}

.footer-icon-frame-use {
    fill: #FFFFFF;
}

.footer-btn-subcsribe::placeholder {
    color: #fff;
}

@media(min-width:768px) {
    .footer-container {
        align-items: baseline;
        min-width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .conteiner-footer-text {
        text-align: start;
    }

    .social-media {
        text-align: start;
    }

    .footer-paragraf-subscribe {
        text-align: start;
    }

    .footer-form-subscribe {
        gap: 24px;
        flex-direction: row;
    }
}

@media(min-width:1158px) {
    .footer {
        min-width: 1158px;
    }

    .footer-container {
        width: 1158px;
        align-items: baseline;
        padding: 0 15px;
        gap: 0;
        margin: 0 auto;
        max-width: 1158px;
    }

    .conteiner-footer-text {
        margin-right: 120px;
    }

    .social-media-container {
        margin-right: auto;
    }

    .social-media {
        text-align: start;
    }

    .subscribe-footer {
        margin-right: 0;
        width: 100%;
        max-width: fit-content;
    }

    .footer-paragraf-subscribe {
        text-align: start;
    }

    .footer-form-subscribe {
        gap: 24px;
        flex-direction: row;
    }

    .social-footer-network:hover,
    .social-footer-network:focus {
        background-color: #31D0AA;
    }

    .footer-btn-subcsribe:hover .footer-btn-subcsribe:focus {
        background-color: #404BBF;
    }

    .footer-input:hover .footer-input:focus {
        border: 1px solid #fff;
    }
}

/* end of footer */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


/*bacdrop styles/
/*modal window styles*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    flex-direction: column;
    display: flex;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    background: #FCFCFC;
    margin: auto;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*modal window styles*/

.review-form-description {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-field-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04px;
    display: block;
    margin-bottom: 4px;
}

.revew-form-input-wrapper {
    position: relative;

}

.revew-form-input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    padding: 2px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.revew-form-input:focus {
    border-color: #4D5AE5;
}

.revew-form-input:focus+.revew-form-input-icon {
    fill: #4D5AE5;
}

.revew-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.comment {
    margin-bottom: 16px;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.revew-form-comment {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.revew-form-comment::placeholder {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    font-family: inherit;
    margin: 0;
}

.revew-form-comment:focus {
    border-color: #4D5AE5;
}

.revew-form-checkbox-label {
    color: #8E8F99;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    display: flex;
    align-items: center;

}

.revew-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    flex-shrink: 0;
}

.revew-form-checkbox:checked+.revew-form-checkbox-label>.revew-form-own-checkbox {
    background-color: rgba(64, 75, 191, 1);
    border-color: rgba(64, 75, 191, 1);
    border: none;
    fill: #F4F4FD;
}

.revew-form-checkbox:focus+.revew-form-checkbox-label>.revew-form-own-checkbox {
    outline: 2px solid rgba(64, 75, 191, 1);
}

.revew-form-own-checkbox-ikon {
    fill: FFFFFF;
    opacity: 0;
}

.revew-form-checkbox:checked+.revew-form-checkbox-label .revew-form-own-checkbox-icon {
    opacity: 1;
}

.accent-colors {
    color: #4d5ae5;
}

.review-form-submit-btn {
    display: block;
    min-width: 169px;
    cursor: pointer;
    padding: 16px 32px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: var(--OCEAN, #404BBF);
}

@media(min-width:768px) {
    .modal {
        width: 408px;
        height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-close-btn:hover {
        background-color: #404BBF;
        border: none;
        fill: #FFFFFF;
    }

    .modal-close-btn:focus {
        background-color: #404BBF;
        border: none;
        fill: #FFFFFF;
    }

    .revew-form-comment:focus {
        border-color: #4D5AE5;
    }

    .revew-form-checkbox:checked+.revew-form-checkbox-label>.revew-form-own-checkbox {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }



    .review-form-submit-btn:hover {
        background-color: #404BBF;
    }

    .review-form-submit-btn:focus {
        background-color: #404BBF;
    }
}

/* mobile menu */
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
}


.mobile-menu-container {
    width: 320px;
    min-height: 100vh;
    background: #FFF;
    margin: 0 auto;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 16px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    stroke: #2e2f42;
}


.header-list-hidden {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;

}

.nav-hidden {
    margin-bottom: auto;
}

.link-menu-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.link-studio-menu-mobile {
    color: #404BBF;
}

.address-menu-mobile {
    font-style: normal;
}

.list-address-menu-mobile {
    flex-direction: column;
    gap: 50px;
    display: flex;
    margin-bottom: 48px;
}

.addres-link-mobile {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.tel-menu-mobile {
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.socials-links-menu-mobile {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-link-item-menu-mobile {
    width: 40px;
    height: 40px;
}

.social-link-menu-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-social-link-menu-mobile {
    fill: #f4f4fd;
}