body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

/* conteiner */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.header {
    background: var(--WHITE, #FFF);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;

}

.menu .current {
    position: relative;
    color: #404bbf;
}

.menu .current::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation {
    margin-right: 332px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* logo */
.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.logo>.logo-first {
    color: var(--NAVY-BLUE, #2E2F42);

}

/* .menu-item {
    padding: 24px 0;
} */

/* menu */
.menu-item-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: var(--OCEAN, #404BBF);

}

.addres {
    font-style: normal;
}

.addres-list {
    display: flex;


}

.addres-list-item:first-child {

    margin-right: 40px;
}

.addres-list-item-data {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.addres-list-item-data:hover,
.addres-list-item-data:focus {
    color: var(--OCEAN, #404BBF);
}

/* main */
.intro .container {}

.intro {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.intro-heading {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button-order {
    color: var(--WHITE, #FFF);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.futures-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.futures-list-item {
    width: calc((100%-72px)/4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.svg-futures {
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.futures-list-item-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.futures-list-item-text {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

/* team */
.team {
    background: var(--CLOUD, #F4F4FD);
}

.team-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 72px) / 4);
}


.team-list-conteiner {
    padding: 32px 0;

}

.team-list-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-list-contacts-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-contacts-link:hover,
.team-list-contacts-link:focus {
    background-color: #404BBF;
}

.team-list-contacts-item {
    width: 40px;
    height: 40px;
}

.svg-team-list-links {
    fill: #F4F4FD;
}

.team-list-item-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.team-list-item-bio {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    text-align: center;
    padding-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    row-gap: 48px;

}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-list-item-info {
    color: var(--SLATE, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;

}

.portfolio-list-overlay {
    position: relative;
    overflow: hidden;
}

.paragraph-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .paragraph-text {
    transform: translateY(0%);
}

.logo-futer {
    color: var(--IRIS,
            #4D5AE5);
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.social-media {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-footer-network {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-network:hover,
.social-footer-network:focus {
    background-color: #31D0AA;
}

.icon-footer-link {
    fill: #f4f4fd;
}

.footer {

    background-color: #2E2F42;
    padding: 100px 0;

}

.conteiner-footer-text {
    margin-right: 120px;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    max-width: 264px;

}

.logo-second {
    color: var(--CLOUD, #F4F4FD);
}

.footer-input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff
}

.subscribe-footer {
    margin-left: 80px;
}

.subscribe-footer>label {
    display: flex;
    justify-content: center;
}

.footer-paragraf-subscribe {
    margin-bottom: 16px;
    color: #FFF;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-form-subscribe {
    display: flex;
    gap: 24px;
}

.footer-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-btn-subcsribe {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-icon-frame {
    margin-left: 16px;
}

.footer-icon-frame-use {
    fill: #FFFFFF;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


/*bacdrop styles/
/*modal window styles*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*modal window styles*/

.review-form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    width: 360px;
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    text-align: left;

    color: #8E8F99;
    margin-bottom: 4px;
}

.revew-form-input-wrapper {
    position: relative;

}

.revew-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;


    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    background-color: transparent;

}

.revew-form-input:focus {
    border-color: #4D5AE5;
}

.revew-form-input:focus+.revew-form-input-icon {
    fill: #4D5AE5;
}

.revew-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    bottom: 8px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.comment {
    margin-bottom: 16px;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.revew-form-comment {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

}

.revew-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.revew-form-comment:focus {
    border-color: #4D5AE5;
}

.revew-form-checkbox-label {
    color: #8E8F99;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;


}

.revew-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;

}

.revew-form-checkbox:checked+.revew-form-checkbox-label>.revew-form-own-checkbox {
    background-color: rgba(64, 75, 191, 1);
    border-color: rgba(64, 75, 191, 1);
    border: none;
    fill: #F4F4FD;
}

.revew-form-checkbox:focus+.revew-form-checkbox-label>.revew-form-own-checkbox {
    outline: 2px solid rgba(64, 75, 191, 1);
}

.revew-form-own-checkbox-ikon {
    fill: FFFFFF;
    opacity: 0;
}

.revew-form-checkbox:checked+.revew-form-checkbox-label .revew-form-own-checkbox-icon {
    opacity: 1;
}

.accent-colors {
    color: #4d5ae5;
}

.review-form-submit-btn {
    display: block;
    min-width: 169px;
    cursor: pointer;
    padding: 16px 32px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: var(--OCEAN, #404BBF);
}